<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHBJrI5b2grnmHHlVONScur0OkhyYLZkk</string>
	<key>GCM_SENDER_ID</key>
	<string>140641399152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>air-trip-fa3ae</string>
	<key>STORAGE_BUCKET</key>
	<string>air-trip-fa3ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140641399152:ios:ec361c9ca611ab8c2a5fb5</string>
</dict>
</plist>